.NavContainer {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 0;
    top: 0;
    z-index: 85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(32, 31, 36, 0.87);
    transition: 0.3s ease-out;
}
.NavBarLogo{
    width: 130px;
    margin-left: 40px;
    margin-top: 10px;
}
.LogoDiv {
    width: 20%;
    height: 41px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.3s ease-out;
}

.NavBarMenuIcon {
    display: none;
}

.LogoDiv a{
    width: 170px;
    height: 100%;
    margin-left: 30px;
}

.LogoDiv a img{
    width: 100%;
    height: 100%;
}

.NavItemDiv {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavLeftDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.NavRightDiv {
    height: 100%;

    display: flex;
    justify-content: space-around;
    width: 300px;
}

.NavLi {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 19px 10px 0 10px;
    margin: 0 15px;
    font-size: 17px;
    color: rgb(241, 241, 241);
    border-bottom: 2px solid transparent;
    border-width: 30px;
    transition: 0.3s ease-out;
}

.NavLi:hover {
    transform: scale(1.1);
  
}

.NavLi:active {
    transform: scale(0.95);
    color: #F80035;
}

.NavDropDownDiv {
    position: relative;
    display: inline-block;
}

.NavDropDownDiv h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 22px 20px 0 20px !important;
    color: black;
    padding: 16px;
    font-size: 17px;
    border: none;
}

.NavDropDownDiv h2:hover {
    cursor: pointer;
}

.NavDropDownContent {
    display: none;
    margin-top: 6px;
    position: absolute;
    border-radius: 5px;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.DropDownLinks {
    text-align: left;
    opacity: 0;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 20px;
    color: black;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    animation: gettingInDropdown 0.3s ease-out forwards;
}

.DropDownLinks:nth-child(2) {
    animation-delay: 0.2s;
}

.DropDownLinks:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes gettingInDropdown {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.NavDropDownContent .DropDownLinks:hover {
    background-color: #ddd;
}

.NavDropDownDiv:hover .NavDropDownContent {
    display: block;
}

.NavDropDownDiv:hover .NavDropDownDiv h2{
    background-color: #3e8e41;
}

@media (max-width: 915px) {

    .LogoDiv a{
        height: 80%;
    }

    .NavContainer {
        padding: 0 !important;
    }

    .NavBarMenuIcon {
        display: block;
        font-size: 50px;
    }

    .NavBarMenuIcon:hover {
        cursor: pointer;
    }

    .NavLeftDiv {
        display: none;
    }

    .NavBarLogo {
        display: none;
       
    }
    
    .LogoDiv {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
